LABNOTEBOOK.txt
analysis.R
analysis.html
data/CR_by_child-updated_21_01.csv
data/child-gender-zooniverse.csv
data/chunks_maj_judgments_all_sources.csv
data/uniqchild.csv
data/bsl_metadata_tsi_full.csv
data/demo-data.tsv
